//- pre= JSON.stringify(, null, 2)
ul.nav.nav-tabs.nav-stacked.index
  // li
  //  form(method="get", action="/search")
  //    input.search-query(type="text", name="q", placeholder="Search")
  //

  li(class="#{ current.path[0]=='index' ? 'active':'' }"): a(href="/") Introduction

  li(class="#{ current.path[0]=='how-does-it-work'?'active':''}"): a(href="/how-does-it-work.html") How does Caliper work?

  li.nested(class="#{ current.path[0]=='backbone-js'?'active':''}"): a(href="/backbone-js.html") Backbone.js

  li.nested(class="#{ current.path[0]=='ember-js'?'active':''}"): a(href="/ember-js.html") Ember.js

  li(class="#{ current.path[0]=='installation'?'active':'' }"): a(href="/installation.html") Installation

    li.nested(class="#{ current.path[0]=='amd-installation'?'active':'' }"): a(href="/amd-installation.html") AMD / RequireJS

  li(class="#{ current.path[0]=='visitors'?'active':'' }"): a(href="/visitors.html") Visitor Tracking

  li(class="#{ current.path[0]=='configuration'?'active':'' }"): a(href="/configuration.html") Configuration Variables

  li(class="#{ current.path[0]=='notifications'?'active':'' }"): a(href="/notifications.html") Notifications

  li(class="#{ current.path[0]=='troubleshooting'?'active':'' }"): a(href="/troubleshooting.html") Troubleshooting

  li(class="#{ current.path[0]=='contact-us'?'active':'' }"): a(href="/contact-us.html") Contact us
